/* mixins */

@mixin clear-floats {
  display: block;
  content: "";
  clear: both;
}

@mixin mono-font {
  font-family: Menlo, Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
}

@mixin small-font {
  font-size: 0.9rem;
}

/* hi */
*, *::before, *::after {
  box-sizing: border-box;
}

/* GLOBAL */

html {
  --bg: #334;
  --fg: #def;
  --clickable: #a8e;
  --orbit: gray;
  --orbit-active: white;
}

body {
  margin: 0;

  background-color: var(--bg);
  color: var(--fg);
  font-size: 4vw;
  line-height: 1.4;

  font-family: Iowan, "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
}

@media (min-width: 600px) {
  body {
    font-size: 14px;
  }
}

/* LAYOUT */

.text-container {
  padding: 0 1rem 1rem 1rem;
}

.title-font, .mono-font, .scene-actions button {
  @include mono-font;
}

.small-font {
  @include small-font;
}

.Header {
  border-bottom: 1px solid var(--fg);
  height: 4rem;
  line-height: 4rem;
}

.Header h1 {
  font-size: 18px;
  margin: 0.2em 0;
}

.Header nav {
  position: absolute;
  top: 0;
  right: 1rem;;
}

.m-clickable {
  color: var(--clickable);
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

.SidebarUI {
  display: flex;
}

.SidebarUI__Sidebar {
  width: 20rem;
}

.BodyList {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.StarInfo {
  @include mono-font;
}

.SystemFinder {
  border: 1px solid var(--fg);
  margin-top: 1rem;
  padding: 1rem;

  h2 {
    font-size: 18px;
    margin-top: 0;
  }
}

/* PanZoomer */

.PanZoomer {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 768px;
}

.PanZoomer__Centerer {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  overflow: visible;
}

.PanZoomer__Help {
  position: absolute;
  left: 2px;
  bottom: 2px;
  color: white;
  opacity: 0.5;
}

.PanZoomer__ZoomControls {
  position: absolute;
  left: 0;
  top: 0;
  color: white;
  font-size: 24px;

  & > * {
    cursor: pointer;
    user-select: none;

    &:hover {
      background-color: rgba(255, 255, 255, 0.2);
    }
  }
}

/* stars, planets, etc */

.orbit {
  border: 1px solid var(--orbit);

  &.m-active {
    border: 1px solid var(--orbit-active);
  }
}

.star {
  @include mono-font;
  vertical-align: middle;
}

.star:last-child {
  margin-bottom: 1rem;
}

.star-circle {
  cursor: pointer;
  margin-right: 0.5rem;
  text-align: center;
  color: black;
  display: inline-block;
  
  box-sizing: content-box;

  &:hover {
    border: 1px solid var(--fg);
  }
}

@mixin planet($r, $c) {
  width: $r;
  height: $r;
  border-radius: $r/2;
  background-color: $c;
}

.planet.m-cold.m-terran .planet-label {
  color: #aaaaff;
}

.planet.m-hot.m-terran .planet-label {
  color: #ffaaaa;
}

.planet.m-habitable.m-terran .planet-label {
  color: #88ff88;
}

.planet-circle {
  cursor: pointer;

  &:hover {
    border: 1px solid white;
  }

  .m-terran {
    @include planet(30px, gray);
  }

  .m-neptunian {
    @include planet(40px, blue);
  }

  .m-jovian {
    @include planet(80px, burlywood);
  }

}